/* Base Application Styles */
.form{
    box-shadow: 10px 10px 5px #888888;
}

.title{
    background-color: rgba(204, 219, 233, 0.58);
    text-align: center;
        box-shadow: 10px 10px 5px #888888;
        /*margin-left: 20%;
        margin-right: 20%;*/

}
.form-component{
    align-content: center;
}



.todo-title{
    text-align: center;
}



ul{
    max-height: 450px;
    overflow-y: scroll;
    word-wrap: normal;
    border: 10px solid black; 
    background-color: rgba(204, 219, 233, 0.58);
}


@media (max-width:480px)  { 
    ul{
    max-height: 350px;
    }
    
     }